#success_message {
    display: none;
}

html,
body {
    font-family: "Arial";
    font-size: 12px;
    color: #000000;
}

form {
    border: 1px solid #000000;
    padding: 0;
}

.well {
    background: transparent;
    border: 1px solid #4DB848;
    padding: 5px 5px;
    margin: 2px 0;
    border-radius: 0;
}

.text-center {
    text-align: center;
}

input.khmer,
.khmer {
    font-family: 'khmeroscontent';
}

.text-left {
    text-align: left;
}

input,
textarea {
    padding: 5px;
}

.text-right {
    text-align: right;
}

table thead tr th {
    font-weight: bold;
    padding: 4px 2px;
}

input.radio-button:before {
    -webkit-appearance: checkbox;
    /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;
    /* Firefox */
    -ms-appearance: checkbox;
    /* not currently supported */
}

input#position {
    height: 34px;
    border: 1px solid red;
}

table tbody tr td {
    font-weight: lighter;
    padding: 5px;
}

b.result {
    font-weight: bold;
    font-style: italic;
}


/* 
.well-sub1,
.well-sub2 {
    border: 2px solid #000000;
} */

strong.green {
    text-decoration: none;
    font-size: 1.5em;
    line-height: 0;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

label {
    font-weight: lighter;
}

.has-feedback .form-control {
    padding: 0;
}

div.title {
    text-decoration: none;
    font-size: 1.5em;
    padding: 4px 10px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: #4DB848;
    border-bottom: 1px dotted #000000;
    border-top: 1px dotted #000000;
    width: 100%;
    background: #ddd;
}

.pdf-footer {
    position: relative;
    padding: 1px 10px;
    font-style: italic;
    margin-bottom: 0;
    border-top: 1px solid #000000;
}

.pdf-footer .footer-left {
    float: left;
    width: 50%;
    color: #000000;
}

.pdf-footer .footer-right {
    float: right;
    width: 50%;
    color: #000000;
    text-align: right;
}

div.form-item-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 6px 5px;
}

div.col-12 {
    width: 100%;
}

div.col-10 {
    width: 70%;
    float: left;
}

div.col-8 {
    width: 66.66666667%;
}

div.col-6 {
    width: 49%;
}

div.col-5 {
    width: 41.30%;
}

div.col-4 {
    width: 33.33%;
}

div.col-3 {
    width: 25%;
}

table {
    border-collapse: collapse;
}

table tr th,
table tr td {
    border: 1px solid #000000;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

table tr th {
    margin: 2px;
    padding: 2px;
}

table tr td div {
    display: table-cell;
    vertical-align: middle
}

div.col-2 {
    width: 28%;
    float: right;
    border: 1px solid black;
    padding: 5px;
}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input.form-control {
    border: none;
    border-bottom: 1px solid #dedede;
    width: 100% !important;
}

@page {
    border: 1px solid #000000;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content: "\e114";
    /* adjust as needed, taken from bootstrap.css */
    float: right;
    /* adjust as needed */
    color: grey;
    /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";
    /* adjust as needed, taken from bootstrap.css */
}

h4.panel-title {
    /* font-family:"Moul"; */
    font-size: 1.6em;
    font-weight: light;
}

.green {
    color: #4DB848;
    text-decoration: underline;
}

div.panel-default-wrapper .panel-title>a {
    color: #4DB848;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

div.panel-default-wrapper {
    border: 1px solid #4DB848;
    overflow: hidden;
}

.strong {
    font-weight: bold;
    color: #4DB848;
}

label.strong {
    font-weight: 700;
    font-weight: bold;
}

.btn-bs-file {
    position: relative;
}

.btn-bs-file input[type="file"] {
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
    cursor: inherit;
}

.wrapper-content {
    background: #dedede;
    border: 1px solid #f5f5f5;
}

h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
    padding-top: 0px;
    font-family: Arial;
    font-size: 200%;
    color: green;
}

p {
    margin: 2px;
    padding: 2px;
    font-family: Arial;
    font-size: 100%;
    font-weight: normal;
}

.inp {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
    padding-top: 0px;
    font-family: Arial;
    font-size: 100%;
    width: 100%;
    border-bottom: 1px solid #000000;
    background-color: #dedede;
}

fieldset {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 100%;
    width: 100%;
    font-weight: bold;
    overflow: hidden;
}

textarea {
    font-family: Arial;
    font-size: 100%;
    border: 2px solid #000000;
    background-color: #dadada;
    background-color: #dedede;
}