@import url('https://fonts.googleapis.com/css?family=Hanuman|Moul|Preahvihear&display=swap');
.full-width {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

label.required:after {
    content: " *";
    color: #a94442;
}

.board {
    /* width: 75%;
    margin: 60px auto; */
    height: 500px;
    padding: 0;
    background: #fff;
    background: 1px 1px rgba(75, 184, 72, 0.02);
    height: auto;
}

.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    /* margin: 40px auto; */
    margin-bottom: 0;
    box-sizing: border-box;
    border: none;
}

.board>div.board-inner {
    background-image: url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
}

p.narrow {
    width: 60%;
    margin: 10px auto;
}

.liner {
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.tooltip>.tooltip-inner {
    background-color: rgba(75, 184, 72, 1);
    color: #ffffff;
    border: 1px solid #4DB848;
    font-family: 'Hanuman', Roboto;
}

.tooltip.top>.tooltip-arrow {
    border-top-color: rgba(75, 184, 72, 1);
}

span.round-tabs {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

.nav-tabs>li>a>span {
    color: #555555;
    background: #fff !important;
    border: 1px solid #555555;
}

.nav-tabs>li a:hover span.round-tabs {
    background: #fff !important;
    border: 2px solid rgb(34, 194, 34);
    color: rgb(34, 194, 34);
}

li.disabled {
    opacity: .5;
}

.nav-tabs>li.disabled:hover:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #D9230F;
    color: #D9230F;
}

.nav-tabs>li.disabled a:hover span.round-tabs {
    background: #fff !important;
    border: 2px solid #D9230F;
    color: #D9230F;
}

.nav-tabs>li:hover:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5cb85c;
    color: #5cb85c;
}

.nav-tabs>li.active>a span.round-tabs,
.bv-tab-success>a span.round-tabs {
    background: #fff !important;
    border: 2px solid rgb(34, 194, 34);
    color: rgb(34, 194, 34);
}

.nav-tabs>li {
    width: 20%;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default !important;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

ul.nav-tabs li:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition: 0.1s ease-in-out;
}

ul.nav-tabs li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5cb85c;
    color: #5cb85c;
}

.nav-tabs>li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.tab-pane {
    position: relative;
    /* padding-top: 50px; */
}

.tab-content .head {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: 700;
    color: #5cb85c;
    /* text-shadow: #000000 1px 0.1px 0.1px; */
}

.btn-outline-rounded {
    padding: 8px 10px;
    margin: 10px 5px;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btnrelatioinship {
    padding: 4px 5px;
    margin: 10px 5px;
    border: 2px solid transparent;
    border-radius: 20px;
}

.btn.green {
    background-color: #5cb85c !important;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff !important;
}

h3.main-title {
    color: #4DB848;
}

h3.main-title-kh {
    color: #4DB848;
    font-family: 'Moul';
}

h4.main-title {
    color: #4DB848;
    font-weight: bold;
}

h4.main-title-kh {
    color: #4DB848;
    font-family: 'Moul';
}

.form-group {
    margin-bottom: 1.5rem;
    padding: 1em 0;
}


/* 
.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
} */

.btn-group {
    width: 100%;
}

.multiselect {
    text-align: right;
    width: 100%;
    overflow: hidden;
    border: 0.5px solid #5cb85c;
}

span.multiselect-selected-text {
    float: left;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a label {
    color: #5cb85c;
    text-decoration: none;
    background-color: #ffffff;
    outline: 0;
}

.open>.dropdown-menu {
    width: 100%;
}

.open>.dropdown-toggle.btn-default,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover,
.btn-group.open .dropdown-toggle,
.btn-default:hover {
    box-shadow: none;
    border: 0.5px solid rgba(75, 184, 72, 0.6);
    background-color: transparent;
}

input.form-control,
select.form-control,
textarea.form-control,
span.input-group-addon {
    border: 0.5px solid rgba(75, 184, 72, 0.5);
    font-weight: 500;
    color: #333;
}

span.input-group-addon,
.glyphicon-calendar {
    cursor: pointer;
}

span.input-group-addon {
    color: #5cb85c;
}

.progress {
    margin: 10px;
    width: 100%;
}

div#ui-datepicker-div.ui-datepicker {
    z-index: 2 !important;
}

#ui-datepicker-div div.ui-datepicker-header {
    background-image: none;
    background-color: #F2B01D;
    color: #555555;
    font-size: 12px;
}

.ui-datepicker table {
    font-size: 0.7em;
}

.ui-widget-header .ui-icon,
.ui-icon,
.ui-widget-content .ui-icon {
    background-image: url("../assets/icons/ui-icons_ffffff_256x240.png");
}

.ui-datepicker td span,
.ui-datepicker td a {
    text-align: center;
}

.ui-datepicker {
    width: 14em;
}

a.ui-state-default.ui-state-active {
    background: #F2B01D;
    color: #fff;
}

.draggable-header .highslide-heading {
    position: absolute;
    margin: -3px 0.4em;
}

ul.nav-tabs li.disabled a:hover {
    color: #777;
    text-decoration: none;
    cursor: not-allowed !important;
    background-color: transparent;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    /* font-size: 12px; */
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #5cb85c;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.loading-main {
    background: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: rgba(75, 184, 72, 1);
    font-size: 10px;
    margin: 50% auto;
    position: fixed;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    right: 0;
    left: 0;
    z-index: 9999;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

label.service {
    /* font-size: 13px; */
}

div.checkbox-success label.td_status {
    /* font-size: 11px; */
}


/* .has-success .form-control {
    border-color: rgba(75, 184, 72, 0.4);
} */

.roll-over-type {
    overflow: hidden;
}

.glyphicon-remove-circle:before {
    content: "\e088";
    color: #a94442;
}

h4.green {
    padding: 15px 0;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.form-submit-status {
    padding: 10px 0;
    display: none;
}

.laoding-main {
    display: none;
}

.form-submit-status>div>div {
    margin-bottom: 0;
}


/* Style for Checkbox */


/* CSS used here will be applied after bootstrap.css */


/* custom checkboxes */

.checkbox-success>[type="checkbox"],
.checkbox-success>label {
    margin-bottom: 0px !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-success>[type="checkbox"]:not(:checked),
.checkbox-success>[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

.checkbox-success>[type="checkbox"]:not(:checked)+label,
.checkbox-success>[type="checkbox"]:checked+label {
    position: relative;
    padding-left: 22px;
    cursor: pointer;
}

.checkbox-success>[type="checkbox"]:not(:checked)+label:before,
.checkbox-success>[type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    width: 17px;
    height: 17px;
    border: 1px solid #ddd;
    background: #ffffff;
    border-radius: 2px;
}

.checkbox-success>[type="checkbox"]:not(:checked)+label:after,
.checkbox-success>[type="checkbox"]:checked+label:after {
    font: normal normal normal 12px/1 'Glyphicons Halflings';
    content: '\e013';
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 2px;
    color: #94C947;
    xtransition: all .2s;
}

.checkbox-success>[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

.checkbox-success>[type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

.checkbox-success>[type="checkbox"]:checked:focus+label:before,
.checkbox-success>[type="checkbox"]:not(:checked):focus+label:before {
    border: 1px solid #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.checkbox-success>label:hover:before {
    border: 1px solid #88D2FF !important;
}

.checkbox,
.radio {
    margin: 0;
}

label {
    font-weight: 500;
    color: #333;
}

.roll-over-amount {
    padding: 0;
    margin: 0;
    margin-top: -0.7rem;
}

@media( max-width: 768px) {
    .roll-over-amount {
        padding: 15px;
        margin: 0;
    }
    /* select#branch {
        margin-top: 1rem;
    } */
}


/* .has-error>label {
    color: #a94442;
} */

@media( max-width: 585px) {
    .board {
        /* width: 90%; */
        height: auto !important;
    }
    span.round-tabs {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .tab-content .head {
        font-size: 20px;
    }
    .nav-tabs>li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
    .btn-outline-rounded {
        padding: 12px 20px;
    }
}


/* Absolute Center Spinner */

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Transparent Overlay */

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


/* :not(:required) hides these rules from IE9 and below */

.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(75, 184, 72, 1) 1.5em 0 0 0, rgba(75, 184, 72, 1) 1.1em 1.1em 0 0, rgba(75, 184, 72, 1) 0 1.5em 0 0, rgba(75, 184, 72, 1) -1.1em 1.1em 0 0, rgba(75, 184, 72, 1) -1.5em 0 0 0, rgba(75, 184, 72, 1) -1.1em -1.1em 0 0, rgba(75, 184, 72, 1) 0 -1.5em 0 0, rgba(75, 184, 72, 1) 1.1em -1.1em 0 0;
    box-shadow: rgba(75, 184, 72, 1) 1.5em 0 0 0, rgba(75, 184, 72, 1) 1.1em 1.1em 0 0, rgba(75, 184, 72, 1) 0 1.5em 0 0, rgba(75, 184, 72, 1) -1.1em 1.1em 0 0, rgba(75, 184, 72, 1) -1.5em 0 0 0, rgba(75, 184, 72, 1) -1.1em -1.1em 0 0, rgba(75, 184, 72, 1) 0 -1.5em 0 0, rgba(75, 184, 72, 1) 1.1em -1.1em 0 0;
}


/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}