/*--------------------------------------------------------------
# Desktop
--------------------------------------------------------------*/

table.table>tbody>tr>td,
table.table>thead>tr>th {
    vertical-align: middle;
}

.internet-banking {
    text-align: center;
    float: left;
    margin-bottom: 0;
    /* position: absolute; */
    bottom: 0;
    right: -10px;
    list-style: none;
}

.internet-banking li {
    display: inline;
    border-radius: 15px;
}

.internet-banking li a {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
}

a:focus,
a:hover {
    text-decoration: none;
}

.internet-banking li:first-child a,
.internet-banking li:nth-child(2) a {
    border-right: 1px solid #FFF;
    padding-right: 10px;
    margin-right: 10px;
}

.internet-banking li a span {
    font-size: 12px;
}

ul.internt-banking-box {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.internt-banking-box li {
    display: inline;
    text-align: left;
}

ul.internt-banking-box>li>a {
    color: #353535;
    text-transform: capitalize;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #4DB848;
}

ul.internt-banking-box>li:last-child>a {
    border: none;
}

ul.internt-banking-box>li>a:hover {
    color: #4DB848;
}

.language-chooser li a:hover,
.search .search_click a:hover {
    color: #F2B01D;
}


/* ul.internt-banking-box>li:first-child>a:before {
    content: '\f023';
    font-family: FontAwesome;
    margin-right: 0.4em;
} */

ul.internt-banking-box>li>a:hover:after {
    animation: shake 1200ms;
}

#desktop-header {
    margin-bottom: 0;
    /* border-bottom: 1px solid #4DB848; */
    height: 100%;
}

#header {
    border-bottom: 1px solid rgba(75, 184, 72, 1);
    background: rgba(75, 184, 72, 1);
    border-radius: 0;
}

div.menu-spacing {
    height: 38px;
    width: 100%;
    clear: both;
    margin: 0 auto;
    background: #FFFFFF;
}

a.fixed-theme>img {
    width: 50px;
}

.internet-banking li a {
    border-right: 1px solid #FFF;
    padding-right: 10px;
}

.internet-banking li:last-child a {
    border-right: none;
    margin: 0;
}

.internet-banking li a span {
    font-size: 12px;
}

.internet-banking li a:hover {
    color: #FBB823;
}

#qtranslate-chooser {
    float: right;
    margin: 0;
    padding: 0;
}


/* #qtranslate-chooser li a span {
        display: block !important;
    } */


/* .language-chooser {
        padding-left: 0;
    }
     */

#desktop-header .language-chooser li {
    float: right;
    list-style: none;
    padding: 8px 6px;
}

#desktop-header .language-chooser li a {
    color: #4DB848;
}

#desktop-header .language-chooser li a:hover {
    color: #f2b01d;
}

section#top-menu {
    /* float: right;
    position: relative; */
    margin-top: 4%;
    display: block;
    position: absolute;
    right: 0;
}

#secondary-menu li {
    border-right: 1px solid #fff;
    padding-right: 10px;
    text-transform: uppercase;
}

#secondary-menu li a {
    color: #fff;
}

#secondary-menu li:last-child {
    border-right: none;
    padding-right: 0;
}

.menu-top-wrapper {
    padding-top: 12px;
    padding-right: 15px;
    float: right;
}

div.marquee-wrapper {
    padding: 10px 4px;
    overflow: hidden;
    color: #F2B01D;
    width: 100%;
}

.menu-top-wrapper .menu-top li {
    float: left;
    list-style: none;
    padding: 15px 0;
}

.menu-top li a {
    font-size: 12px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #353535;
    border-left: solid rgba(0, 0, 0, .2) 1px;
}

.menu-top li:first-child a {
    border-left: none;
}

.lang-switcher>.qtranxs_language_chooser {
    list-style: none;
}

.lang-switcher>.qtranxs_language_chooser>li>a {
    color: #4DB848;
}

#desktop-menu>li>a {
    color: #000000;
    text-shadow: .1px .1px .1px rgba(92, 90, 87, 0.103);
    text-transform: uppercase;
}

ul#desktop-menu>li>a {
    padding: 12px 20px !important;
}

#desktop-header ul#desktop-menu>li:hover>a {
    background: #fff !important;
    color: #4DB848 !important;
}

#desktop-header nav.navbar {
    min-height: 0;
    padding: 0;
    margin: 0;
    z-index: 999;
}

#menu {
    /* border-top: 1px solid #4DB848;
                            border-bottom: 1px solid #4DB848;
                            background-color: #4DB848; */
    margin-bottom: 0;
    /* border:none; */
}

.main-menu {
    margin: 0;
    padding: 0;
}

.main-menu li {
    list-style: none;
    position: relative;
}

.main-menu>li>a {
    width: 100%;
    float: left;
    color: #353535!important;
    /* font-weight: 600; */
    text-decoration: none;
    /*text-transform: uppercase;*/
    padding: 10px 20px;
    text-align: center;
}

.main-menu ul.sub-menu {
    display: none;
}

.main-menu ul.sub-menu li {
    float: left;
    width: 100%;
    white-space: nowrap;
}

.main-menu ul.sub-menu li a {
    display: block;
    padding: 7px 20px 7px 15px;
    clear: both;
    color: #353535;
    font-weight: 600;
    font-weight: 400;
    line-height: 1.4;
    text-decoration: none;
    white-space: nowrap;
}

.main-menu ul.sub-menu li:first-child a {
    border-top: none;
}

.main-menu li:hover>ul.sub-menu {
    display: block;
    top: 40px;
    z-index: 9999;
    width: auto;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #FFF;
}


/*.main-menu li .sub-menu {
    border: 1px solid rgba(78, 184, 72, .5);
}*/

.main-menu li a:focus,
.main-menu li a:hover,
.main-menu li.current_page_ancestor>a,
.main-menu li.current_page_item>a,
.main-menu li.current_page_parent>a,
div.sub-menu .sub-menu li.current-menu-item>a,
div.sub-menu .sub-menu-style-none li.current-menu-item>h3>a,
div.sub-menu ul.sub-menu-style-none>li.current-menu-item>a {
    color: #4EB848;
}

.sub-menu>li:hover>ul {
    left: 100%;
    top: 0!important;
}

.sidebar_content {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    border: 1px solid rgba(77, 174, 72, 0.3);
    box-shadow: 0 1px 1px 0 #BBBBBF;
}


/* .sidebar_content>a,
    .sidebar_content>li,
    .sidebar_content>li>ul>li {
        background: url('assets/icons/dotted.jpg') no-repeat scroll 0 6px;
        border-top: .20px dotted rgba(77, 174, 72, 0.5);
    } */

.sidebar_content>a:first-child,
.sidebar_content>li:first-child {
    border-top: none;
}

.sidebar_content a {
    color: #000000;
    font-weight: normal;
}

.sidebar_content li:hover {
    color: #4DB848;
    background-color: transparent;
}

.sidebar_content li:hover>a {
    color: #4DB848;
}

.children {
    list-style: none;
}

ul.sidebar_content .page_item a {
    border-bottom: 0 solid #ddd;
}

#category_sidebar_bottom .sidebar_title,
#sidebar-xs .sidebar_title {
    cursor: pointer !important;
}

div.sidebar_content a i,
ul.sidebar_content .page_item a>i {
    margin-right: 5px;
    color: #4DB848;
    font-size: 11px;
}


/*****************
* Mobile
******************/

#mobile-header {
    margin-bottom: 0;
    border-bottom: 0;
}

#mobile-header .mobile-navbar {
    /* background-color: #4DB848;*/
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    min-height: auto;
    border: none;
    margin-bottom: 0;
}

.mobile-navbar .navbar-header {
    padding: 5px 0;
    position: relative;
    background: #4DB848;
    background-repeat: no-repeat;
}

.mobile-navbar .navbar-brand {
    float: left;
    text-indent: -9999px;
    width: 140px;
    height: auto;
}

.navbar-brand {
    float: none;
    padding: 0;
}


/* .navbar-brand>img {
        display: unset;
    } */

#mobile-menu>li>a {
    color: #FFF;
    text-transform: uppercase;
    border-bottom: 1px dotted #5cb85c8c;
    display: block;
}

.mobile-navbar .nav .open>a,
.mobile-navbar .nav .open>a:focus,
.mobile-navbar .nav .open>a:hover,
.mobile-navbar .navbar-toggle,
.mobile-navbar .navbar-toggle:focus,
.mobile-navbar .navbar-toggle:hover {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.mobile-navbar .icon-bar {
    border: 1px solid #fff !important;
}

.mobile-navbar .open .dropdown-menu .dropdown-header,
.mobile-navbar .open .dropdown-menu>li>a {
    padding: 8px;
}

.mobile-navbar .navbar-collapse,
.mobile-navbar .navbar-form {
    border-color: rgba(0, 0, 0, .1);
    background: #fff;
}

.services div.sub-menu .service-item:last-child {
    border-right: none;
}

.mobile-navbar div.search-wrapper-mobile {
    display: none;
}

.mobile-navbar .search-form .form-group {
    float: right !important;
    transition: all .35s, border-radius 0s;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    background-color: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border: 0 none;
}

nav.mobile-navbar .search-form .form-group input.form-control#search {
    padding: 10px;
    background: #FFF;
    box-shadow: 0px 0px 0.5px #4DB848;
    display: block;
    width: 100%;
    /* border: 1px solid #F2B01D; */
}

.mobile-navbar .mobile-navbar .search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}

.mobile-navbar .search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}

.mobile-navbar .search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}

.mobile-navbar .search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}

.mobile-navbar .search-form .form-group.hover,
.mobile-navbar .search-form .form-group:hover {
    width: 100%;
}

.mobile-navbar .search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a {
    background: transparent;
    color: #4DB848;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
    background-color: rgba(77, 184, 72, 0.3);
}

div.custom-container div#primary-navbar-collapse ul#mobile-menu li.active,
ul#mobile-menu li.current-menu-parent>a {
    background-color: rgba(77, 174, 72, 0.06) !important;
    color: #4DB848;
}

div.custom-container div#primary-navbar-collapse ul#mobile-menu li ul.dropdown-menu {
    padding: 0;
    border-bottom: 1px solid #4DB848;
    border-radius: 0;
    background: rgba(77, 174, 72, 0.06);
}


/* .caret {
        position: absolute;
        top: 50%;
        right: 33px;
    } */

#primary-navbar-collapse .form {
    padding: 10px 0;
}

.navbar-default .navbar-nav>.active>a {
    background: transparent;
}

ul.main-menu-wrapper#desktop-menu {
    padding: 0 0 0 10%;
}

div.container-fluid.menu {
    position: relative;
    max-width: 1440px;
}

ul#desktop-menu>li>div.sub-menu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    top: 7.8em;
}

ul.main-menu-wrapper>li>div.sub-menu {
    display: none;
}

ul.main-menu-wrapper {
    list-style: none;
    margin-right: 10%;
}

ul.main-menu-wrapper>li {
    float: left;
    padding: 10px;
}

div.sub-menu ul.sub-menu li {
    margin: 5px 0 5px 20px;
    font-size: 15px;
    line-height: 18px;
    margin: 5px 0 5px 20px;
    padding: 0;
    text-align: left;
}

div.sub-menu ul.sub-menu,
div.sub-menu ul.sub-menu-style-none {
    padding: 0;
}

ul#desktop-menu>li:hover>div.sub-menu {
    display: block;
    background: #f8f8f8;
    /* -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5); */
    padding: 10px;
    border-top: 1px solid #dadada;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    z-index: 9999;
}

.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.sub-menu-style-none li a,
div.sub-menu h3 {
    font-size: 14px;
    /* font-weight: 600; */
    margin: 8px 0;
}

.service-item ul.sub-menu-style-none li h3>a:hover {
    color: #4DB848;
}

div.sub-menu h3 {
    font-size: 14px;
    font-weight: 550;
    margin: 8px 0;
}

nav.posts-navigation {
    padding: 10px;
}

div.sub-menu h3>a {
    color: #353535;
    font-weight: 600;
    font-size: 14px;
}

div.container.sub-menu-ungrid div,
div.container.sub-menu-ungrid-4-col div {
    width: 20%;
    border-right: 1px solid #dedede;
}

div.container.sub-menu-ungrid-3-col div {
    /* width: 33.33%; */
    border-right: 1px solid #dedede;
}

div.container.sub-menu-ungrid-5-col div {
    border-right: 1px solid #dedede;
    width: 20%;
}

div.container.sub-menu-ungrid-6-col div {
    border-right: 1px solid #dedede;
    width: 14.2%;
}

.pw-button.__pw-size-32.__pw-radius-circle .pw-button__outer {
    border-radius: 32px !important;
}

.pw-button-icon.__pw-size-32 {
    font-size: 26px !important;
}

div.container.sub-menu-ungrid div:last-child,
div.container.sub-menu-ungrid-3-col div:last-child,
div.container.sub-menu-ungrid-4-col div:last-child,
div.container.sub-menu-ungrid-5-col div:last-child,
div.container.sub-menu-ungrid-6-col div:last-child {
    border-right: none;
}

ul li.page_item_has_children {
    width: 100%;
}

div.app-download {
    padding: 3px;
    margin: 0;
}

div.app-download>a svg:hover {
    fill: #eea236;
}

form.navbar-form {
    height: 39px;
    position: absolute;
    margin: -0.3%;
    -webkit-transition-duration: .05s;
    -moz-transition-duration: .05s;
    -o-transition-duration: .05s;
    transition-duration: .05s;
}

form.navbar-form div.input-wrapper {
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 2em;
    /* Firefox 1-3.6 */
    -moz-border-radius: 2em;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 2em;
    width: 250px;
    height: 30px;
    background: #fff;
    border: none;
    -webkit-transition-duration: .01s;
    -moz-transition-duration: .01s;
    -o-transition-duration: .01s;
    transition-duration: .01s;
    padding: 8px;
    border: none;
    box-shadow: 0 0 1px 1px #4DB848;
}

#custom-search-input {
    margin: 0;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 8px;
    padding-right: 4px \9;
    padding-left: 8px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #F0AD4E;
    z-index: 5;
}

button.submit-search:hover,
button.submit-search:visit,
button.submit-search:active:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.search-query:focus+button {
    z-index: 3;
}

div.app-download>a:hover svg .st0 {
    /* color: #FFF; */
    /* border-color: #4DB848;
    background: #4DB848; */
    fill: #eea236;
}

div.sub-menu h3>a:visited {
    pointer-events: none;
}

div.sub-menu ul.sub-menu-item {
    list-style: none;
}

div.sub-menu ul.sub-menu-item li {
    margin: 5px 0 5px 20px;
    line-height: 18px;
    margin: 5px 0 5px 20px;
    padding: 0;
    text-align: left;
    float: left;
}

div.sub-menu ul.sub-menu-style-none li {
    padding: .2em 0;
}

div.sub-menu ul.sub-menu>li>a,
div.sub-menu ul.sub-menu-item>li>a,
div.sub-menu ul.sub-menu-style-none>li>a {
    color: #141924;
}

div.sub-menu ul.sub-menu>li>a:hover,
div.sub-menu ul.sub-menu-item>li>a:hover,
div.sub-menu ul.sub-menu-style-none>li>a:hover {
    color: #4DB848;
}

div.sub-menu ul.sub-menu,
div.sub-menu ul.sub-menu-style-none {
    list-style: none;
}

div.sub-menu ul.sub-menu>li:before {
    content: "\f0da";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    margin-right: .2em;
    width: 1em;
    color: #eea236;
    font-size: 12px;
}


/*Animation--*/

.animated {
    -webkit-animation-duration: 0s;
    animation-duration: .01s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.modal-header-success {
    color: #fff;
    border-bottom: 1px solid #eee;
    background-color: #82C440;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div.btn-subcribe {
    opacity: 0;
    -webkit-transition-duration: .02s;
    -moz-transition-duration: .02s;
    -o-transition-duration: .02s;
    transition-duration: .02s;
}

input#subscribe-email:focus+div.btn-subcribe {
    opacity: 1;
    -webkit-transition-duration: .02s;
    -moz-transition-duration: .02s;
    -o-transition-duration: .02s;
    transition-duration: .02s;
}

article.content-summary {
    padding: 8px 0;
}

#desktop-menu>li>a {
    font-size: 15px;
}

ul#desktop-menu {
    list-style: none;
    margin: 0;
}

#desktop-menu>li.current-menu-ancestor,
#desktop-menu>li.current-menu-parent {
    background: #FFF;
}

#desktop-menu>li.current-menu-ancestor>a,
#desktop-menu>li.current-menu-parent>a {
    color: #4DB848;
}

#desktop-menu>li>ul.sub-menu {
    width: 1440px;
    border-top: 1px solid #4DB848;
    height: auto;
    -webkit-box-shadow: 0 1px 2px 0 rgba(77, 184, 72, .2);
    -moz-box-shadow: 0 1px 2px 0 rgba(77, 184, 72, .2);
    box-shadow: 0 1px 2px 0 rgba(77, 184, 72, .2);
}

#desktop-menu>li>ul.sub-menu>li.menu-item-has-children>a {
    color: #141924;
    margin-left: 5%;
    text-transform: uppercase;
    font-weight: 500;
    cursor: default;
}

#desktop-menu>li>ul.sub-menu>li>ul.sub-menu {
    display: block;
    margin-top: -15px;
}

#desktop-menu>li>ul.sub-menu>li>ul.sub-menu li {
    list-style: none;
}

#desktop-menu>li>ul.sub-menu>li>a,
#desktop-menu>li>ul.sub-menu>li>ul.sub-menu>li>a {
    color: #141924;
    line-height: 34px;
    font-size: 1em;
}

#desktop-menu>li>ul.sub-menu>li>a:hover,
#desktop-menu>li>ul.sub-menu>li>ul.sub-menu>li>a:hover {
    color: #4DB848;
    text-decoration: none;
}

#desktop-menu>li>ul.sub-menu>li>ul.sub-menu li:before {
    content: "\f054";
    /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    margin-right: .2em;
    /* same as padding-left set on li */
    width: 1em;
    /* same as padding-left set on li */
    color: #eea236;
    font-size: 12px;
}

#desktop-menu>li>ul.sub-menu>li {
    width: 20%;
    float: left;
}

#desktop-menu>li#menu-item-7247>ul.sub-menu>li {
    width: 24%;
    float: left;
}

#desktop-menu>li#menu-item-7276>ul.sub-menu>li {
    width: 16%;
    float: left;
}

#desktop-menu>li#menu-item-7276>ul.sub-menu>li {
    border-right: 1px solid rgba(77, 184, 72, 0.8);
    margin: 0 27px;
}

#desktop-menu>li>ul.sub-menu>li,
#desktop-menu>li#menu-item-7272>ul.sub-menu>li {
    border-right: 1px solid rgba(77, 184, 72, 0.8);
    margin: 10px;
}

#desktop-menu>li#menu-item-7247>ul.sub-menu>li,
#desktop-menu>li#menu-item-7276>ul.sub-menu>li,
#desktop-menu>li#menu-item-7290>ul.sub-menu>li {
    border-right: 1px solid rgba(77, 184, 72, 0.8);
    margin: 0 10px;
}

#desktop-menu>li>ul.sub-menu>li:nth-child(1),
#desktop-menu>li>ul.sub-menu>li:nth-child(2),
#desktop-menu>li#menu-item-7247>ul.sub-menu>li:nth-child(3) {
    border-right: 1px solid rgba(77, 184, 72, 0.8);
}

#desktop-menu>li#menu-item-7247>ul.sub-menu>li:nth-child(4),
#desktop-menu>li#menu-item-7247>ul.sub-menu>li:nth-child(5),
#desktop-menu>li#menu-item-7247>ul.sub-menu>li:nth-child(6),
#desktop-menu>li#menu-item-7247>ul.sub-menu>li:nth-child(7),
#desktop-menu>li#menu-item-7247>ul.sub-menu>li:nth-child(8),
#desktop-menu>li#menu-item-7272>ul.sub-menu>li:nth-child(3),
#desktop-menu>li#menu-item-7276>ul.sub-menu>li:nth-child(5),

/* #desktop-menu>li#menu-item-7276>ul.sub-menu>li:last-child, */

#desktop-menu>li#menu-item-7286>ul.sub-menu>li:nth-child(3),
#desktop-menu>li#menu-item-7290>ul.sub-menu>li:nth-child(4) {
    border-right: none;
}

#desktop-menu>li#menu-item-7247>ul.sub-menu>li:nth-child(1),
#desktop-menu>li#menu-item-7247>ul.sub-menu>li:nth-child(2),
#desktop-menu>li#menu-item-7247>ul.sub-menu>li:nth-child(3) {
    margin: 0 5px;
    height: 330px;
}

#desktop-menu>li#menu-item-7247>ul.sub-menu>li:nth-child(3) {
    margin-right: 10px;
}

#desktop-menu>li>ul.sub-menu,
#desktop-menu>li>ul.sub-menu {
    display: block;
    position: absolute;
    z-index: 1;
    background: #fff;
    right: -16.7%;
    list-style: none;
}

#desktop-menu>li.menu-item-has-children ul.sub-menu {
    display: none;
}

ul#desktop-menu>li {
    float: left;
    padding: 44px 0;
    margin: 0;
}

ul#desktop-menu>li>a {
    padding: 11px 20px;
    margin: 0;
    font-family: 'Hanuman', 'Roboto', sans-serif !important;
}

ul#desktop-menu>li:hover>a {
    background: #4DB848;
    color: #fff;
}

ul#desktop-menu>li>a:hover>ul.sub-menu {
    color: #4DB848;
}

ul#desktop-menu>li:hover>ul.sub-menu {
    color: #4DB848;
    display: block;
}

.scan-pay-item {
    padding: 0 5px;
    margin: 5px 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animate-item {
    opacity: 1;
    animation: fadeitem 2s linear;
}

@keyframes fadeitem {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    50% {
        opacity: 0.5;
        filter: alpha(opacity=0.5);
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=1);
    }
}

ul#desktop-menu>li {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

ul#desktop-menu>li.active {
    background: #4DB848;
    color: #fff;
}

ul#desktop-menu>li.active>a {
    color: #fff;
    text-decoration: none;
}

div.sub-menu ul.sub-menu>li>a,
div.sub-menu ul.sub-menu-item>li>a {
    font-size: 14px;
}

footer.footer_wrapper div.alert-wraper {
    display: none;
    max-width: 100%;
    position: fixed;
    bottom: -0.7em;
    right: 0;
    left: 0;
    z-index: 1000;
}

footer.footer_wrapper div.alert-wraper .shadow {
    position: relative;
    background: #fff;
    padding: 0;
    margin: 0 auto;
    border: 1px solid #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

footer.footer_wrapper div.alert-wraper .shadow>div {
    background: #FFF;
    color: #F2B01D;
}

div.pad-bottop {
    position: relative;
}

ul#header_menu li a {
    font-size: 0.9em;
    color: #FFFFFF;
}

ul#header_menu li a:hover,
ul#header_menu>li>a:focus,
ul#header_menu>li.current-menu-item>a {
    background: transparent;
    color: #007769;
}

.nav>li>a {
    padding: 8px 4px;
}

ul#header_menu li {
    float: left;
    padding: 0 10px;
}

#single-item button.slick-next {
    right: 0;
}

#single-item button.slick-prev {
    left: 0;
    z-index: 1;
}

#single-item button.slick-prev:before {
    content: '\f0a8';
    font-family: "FontAwesome";
}

#single-item button.slick-next,
#single-item button.slick-prev {
    width: 50px;
    height: 50px;
    opacity: 0;
}

#single-item:hover>button.slick-prev,
#single-item:hover>button.slick-next {
    opacity: 0.7;
}

#single-item button.slick-next:before {
    content: '\f0a9';
    font-family: "FontAwesome";
}

#single-item button.slick-next,
#single-item button.slick-next:before,
#single-item button.slick-prev,
#single-item button.slick-prev:before {
    font-size: 1.8em;
    color: #4DB848;
}

#product-feature,
#product-feature .slick-slide {
    z-index: 999;
}

#product-feature button.slick-next:before,
#product-feature button.slick-prev:before,
.list-product-items button.slick-next:before,
.list-product-items button.slick-prev:before {
    color: #4DB848;
    font-size: 38px;
}

#product-feature button.slick-prev:before,
.list-product-items button.slick-prev:before {
    content: '\f104';
    font-family: "FontAwesome";
}

#product-feature button.slick-next:before,
.list-product-items button.slick-next:before {
    content: '\f105';
    font-family: "FontAwesome";
}

article .feature_wrapper {
    padding: 10px 0;
}

article .feature_wrapper:hover {
    color: #4DB848;
}


/*
 * Custom styles
 */

.navbar-brand {
    font-size: 24px;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #FFFFFF;
    /*rgba(75, 184, 72, 0.8);*/
    /* border-color: #4DB848; */
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
    border-bottom: none;
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
    transition: 0.8s;
    -webkit-transition: 0.8s;
}

.fixed-theme ul.navbar-nav li a {
    color: #ffffff;
}

div#menu-container {
    z-index: 1000;
    background: #ffffff;
    border-bottom: 1px solid #ebebeb;
    right: 0;
    left: 0;
    top: 0;
}

div.fixed-menu#menu-container {
    border-bottom: 1px solid rgba(75, 184, 72, 0.8);
}

div.fixed-menu.menu {
    position: fixed !important;
    transition: 1s;
    -webkit-transition: 1s;
}

div.fixed-menu.menu#menu-container ul#desktop-menu>li {
    float: left;
    padding: 30px 0;
    margin: 0;
    transition: 0.8s;
    -webkit-transition: 0.8s;
}

div#menu-container a img {
    width: 100px;
    transition: 0.8s;
    -webkit-transition: 0.8s;
}

div.fixed-menu.menu#menu-container a img {
    width: 70px;
    transition: 0.8s;
    -webkit-transition: 0.8s;
}

div.fixed-menu.menu#menu-container ul#desktop-menu>li>div.sub-menu {
    top: 5.8em;
}

p,
h3 {
    word-wrap: break-word;
}

ul#font-size-switcher {
    list-style: none;
    margin: 0 4px;
    padding: 0 4px;
}

ul#font-size-switcher.header li a {
    color: #fff;
    font-family: "Roboto";
}

ul#font-size-switcher li {
    /* float: left; */
    display: inline-block;
    padding: 0
}

ul#font-size-switcher.header li>a:hover,
ul#font-size-switcher.header li>a:focus,
ul#font-size-switcher.single li>a:hover,
ul#font-size-switcher.single li>a:focus {
    background: transparent;
    color: #F2B01D;
}

ul#breadcrumbs {
    float: left;
}

ul#font-size-switcher.single {
    float: right;
}

ul#font-size-switcher.single li>a {
    color: #4db848;
    font-family: "Roboto";
}

ul#font-size-switcher li:first-child {
    font-size: 14px !important;
}

ul#font-size-switcher li:nth-child(2) {
    font-size: 18px !important;
}

.services .service-item {
    border-right: 1px solid #dedede;
    height: auto;
}

.services .service-item:last-child {
    border-right: none;
}

@media (max-width: 1024px) and (min-width: 767px) {
    form.navbar-form {
        /*margin: 0 5%;*/
        padding: 0;
        border: 1px solid grey;
    }
    div.search-wraper>form.navbar-form {
        height: 39px;
        position: absolute;
        /* left: 5%;*/
        /* margin-top: 0; */
        margin: 0 2%;
        -webkit-transition-duration: .05s;
        -moz-transition-duration: .05s;
        -o-transition-duration: .05s;
        transition-duration: .05s;
        /*right: 0;*/
        border: none;
        /*padding: 10px;*/
    }
}

@media (max-width:1460px) {
    footer.footer_wrapper div.alert-wraper .container {
        width: 100%;
    }
    footer.footer_wrapper div.alert-wraper .container .row>.col-xs-12,
    footer.footer_wrapper div.alert-wraper .container .row>.col-md-12 {
        padding: 0 !important;
    }
    .services .service-item {
        border-right: 1px solid #dedede;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #mobile-menu {
        margin: 0 -15px;
        padding: 0px 15px;
    }
    #mobile-menu .dropdown-toggle .caret {
        border: none!important;
        font: normal normal normal 14px/1 FontAwesome;
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    #mobile-menu .dropdown-toggle .caret {
        position: absolute;
        right: 5%;
    }
    #mobile-menu .dropdown-toggle .caret:before {
        content: "\f078";
        color: #333333;
    }
    #mobile-menu .dropdown-toggle:focus .caret:before,
    #mobile-menu .dropdown-toggle:visited .caret:before {
        content: "\f077";
        color: #333333;
    }
    #mobile-menu>li>a {
        text-align: left;
        font-size: 14px;
        color: #333333;
    }
    /*#mobile-menu li ul.dropdown-menu {
        background-color: rgba(77, 184, 72, .1);
    }*/
    #mobile-menu li ul.dropdown-menu>li a {
        padding: 10px 12px 12px 20px;
        color: #333333;
        border-bottom: 1px dotted #5cb85c63;
    }
    div#internet_backing_row {
        line-height: 38px;
        padding: 0;
    }
    .mobile-navbar .open .dropdown-menu lid:not(.active) {
        padding: 0;
        background-color: #EDEDED;
        border-radius: 0;
    }
    ul#qtranslate-chooser {
        margin-bottom: 0;
        padding: 1px 8px;
        position: absolute;
        left: 41%;
        bottom: 0;
        list-style: none;
    }
    #qtranslate-chooser li a {
        line-height: 4em;
        color: #FFFFFF;
        /* text-transform: uppercase; */
        padding: 0;
        font-weight: 600;
    }
    #qtranslate-chooser li a:hover {
        color: #FFD969;
    }
    .language-chooser li.active {
        display: none;
    }
    #single-item button.slick-prev {
        left: 0;
    }
    #single-item button.slick-next {
        right: 0;
    }
    #single-item button.slick-next,
    #single-item button.slick-next:before,
    #single-item button.slick-prev,
    #single-item button.slick-prev:before {
        font-size: 1.5em;
    }
    div.btn-subcribe {
        opacity: 1;
    }
    .mobile-navbar .navbar-brand {
        width: 88px;
    }
    .navbar-header .navbar-toggle {
        margin-right: 8px;
    }
    .article_headers {
        padding: 0;
    }
    .article .feature_wrapper {
        padding: 0;
    }
    footer>.text-center {
        margin-top: 20px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    ul#header_menu li {
        padding: 0 2px;
    }
    ul.main-menu-wrapper#desktop-menu {
        padding: 0 5%;
    }
    div#menu-container a img {
        width: 80px;
    }
    ul#desktop-menu>li {
        padding: 35px 0;
    }
    ul#desktop-menu>li>a {
        font-size: 14px;
        padding: 12px 8px !important;
    }
    #menu>.container {
        padding: 0;
    }
    ul#desktop-menu>li>div.sub-menu {
        top: 6.3rem;
    }
}

@media (min-width:768px) and (max-width:768px) {
    .services .service-item {
        padding: 0 3px;
    }
    div.sub-menu ul.sub-menu-item>li>a,
    div.sub-menu ul.sub-menu>li>a {
        font-size: 12px;
    }
    .sub-menu-style-none li a,
    div.sub-menu h3 {
        font-size: 12px;
    }
    .container .service-item h3>a {
        font-size: 12px;
    }
    div.sub-menu ul.sub-menu,
    div.sub-menu ul.sub-menu-style-none {
        padding: 0 3px;
    }
    div.container.sub-menu-ungrid div,
    div.container.sub-menu-ungrid-4-col div {
        width: auto;
    }
    div.container.sub-menu-ungrid-6-col div {
        width: 25%;
    }
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 87%;
    text-align: center;
    -webkit-transform: translateY(-87%);
    -moz-transform: translateY(-87%);
    -ms-transform: translateY(-87%);
    -o-transform: translateY(-87%);
    transform: translateY(-87%);
}

.hovereffect img {
    display: block;
    position: relative;
    /* max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #ffffff;
    cursor: pointer;
}

.hovereffect:hover img {
    opacity: 0.9;
    filter: alpha(opacity=90);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    border: 1px solid #ffffff;
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
    text-shadow: 2px 0px 2px rgba(12, 12, 12, 1);
}

.hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.hovereffect:hover h2:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect a,
.hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.hovereffect p>a:hover {
    color: rgb(221, 75, 57);
}

.hovereffect:hover a,
.hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}