.mfp-ready .mfp-figure {
    /* opacity: 0; */
}

.mfp-zoom-in {
    /* start state */
    .mfp-figure {
        opacity: 0;
        transition: all 0.3s ease-out;
        transform: scale(0.9);
    }
    &.mfp-bg,
    .mfp-preloader {
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    /* animate in */
    &.mfp-image-loaded {
        .mfp-figure {
            opacity: 1;
            transform: scale(1);
        }
    }
    &.mfp-ready {
        &.mfp-bg,
        .mfp-preloader {
            opacity: 0.8;
        }
    }
    /* animate out */
    &.mfp-removing {
        .mfp-figure {
            transform: scale(0.9);
            opacity: 0;
        }
        &.mfp-bg,
        .mfp-preloader {
            opacity: 0;
        }
    }
}


/* CSS-based preloader */

.mfp-preloader {
    width: 30px;
    height: 30px;
    background-color: #FFF;
    opacity: 0.65;
    margin: 0 auto;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}


/* overlay at start */

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}


/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.9;
}


/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}


/* content at start */

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}


/* content animate it */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}


/* content animate out */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}